<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a routerLink="/users" routerLinkActive="active" class="nav-link">
          Users
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/products" routerLinkActive="active" class="nav-link">
          Products
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/orders" routerLinkActive="active" class="nav-link">
          Orders
        </a>
      </li>
    </ul>
  </div>
</nav>
